.nav {
    display: flex;
    align-items: center;
    background-color: #2e518b;
    color: #ffffff;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    align-content: space-between;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #2e518b;
    color: #ffffff;
    width: 100%;
}

.navbar-image {
    width: 164px;
}

.containerSearchBar {
    display: flex;
    padding: 10px;
    align-items: center;
    width: 100%;
}

.searchbar-container {
    display: flex;
    margin: 0px auto;
    align-items: center;
    justify-content: end;
    margin-right: 20px;
}

.searchbar {
    background-color: white;
    padding: 10px;
    width: 50%;
}

.searchbar-btn button {
    border: 1px solid #2e518b;
    padding: 10px;
    background-color: #2e518b;
    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Helvetica', sans-serif;
    border-radius: 50px;
}

.searchbar-input {
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 25);
    border: none;
    width: 90%;
}

.searchbar-input:focus {
    outline: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.pokedex-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 10px;
}

.pokemon-card {
    display: flex;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 25);
    border-radius: 3px;
    padding: 10px;
}

.pokemon-img {
    width: 90px;
    height: 90px;
    padding: 10px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    flex: 1;
}

.card-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-top h3 {
    text-transform: capitalize;
}

.card-type {
    display: flex;
}

.pokemon-type {
    text-transform: capitalize;
}

.card-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pokemon-img-container {
    padding: 0 5px;
}

.pagination-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.pagination-lang {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin-left: 20px;
}

.pagination {
    background-color: white;
    padding: 10px;
}

.pagination-btn button {
    border: 1px solid #2e518b;
    padding: 10px;
    background-color: #2e518b;
    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Helvetica', sans-serif;
    border-radius: 50px;
}

.pagination-text {
    font-weight: bold;
    font-style: normal;
    padding: 5px;
}

.btn-primary {
    border: 1px solid #ffffff;
    padding: 10px;
    color: #2e518b;
    background-color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 50px;
}

.btn-lang {
    border: 1px solid #2e518b;
    padding: 10px;
    color: #ffffff;
    background-color: #2e518b;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 50px;
}

.about-header {
    border: 1px solid #2e518b;
    padding: 10px;
    background-color: #2e518b;
    color: #ffffff;
    text-decoration: dashed;
    text-transform: capitalize;
}

.information-text {
    padding: 10px;
    color: #2e518b;
    background-color: #ffffff;
}

.footer {
    padding: 10px;
    background-color: #2e518b;
    color: #ffffff;
    font-weight: bold;
}

.pokecontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.pokeRight {
    text-transform: capitalize;
}